*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*Página catálogo*/

.container{
    max-width: 1000px;
    margin: 0 auto;
}
.navbar{
    height: 70px;
    display: flex;
    align-items: center;
}
.navbar h1{
    margin: 0 auto;
}
.navbar a button{
    width: 50px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px
}
.navbar button{
    cursor: pointer;
    border: none;
}
.livro{
    display: flex;
    margin-bottom: 50px;
}
.livro .imagem img{
    max-width: 300px;
}
.desc{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid black 2px;
    border-radius: 5px;
    width: 600px;
    padding-left: 30px;
}

/*Pagina mais vendidos*/

canvas{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 800px;
}

.separador h1{
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;    
}

/*Página recomendações*/

.navbar_rec a button{
    width: 50px;
    height: 30px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 20px;
}    
.navbar_rec button{
    cursor: pointer;
    border: none;
}
.container_rec{
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}
.livro_rec {
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.livro_rec img {
    width: 100px;
    height: 150px;
    margin-right: 15px;
}